/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
}

/* Utils */
.container{
    max-width: 1080px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.debug .border{
    border: 1px dashed #b414d4;
}

/* Header */
#fixed-header{
    background-color: #ff6900;
}

.navbar{
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.navbar > *{
    flex-basis: 20%;
}

.navbar-site{
    justify-content: space-between;
    font-weight: bold;
}

.navbar li{
    list-style-type: none;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

.navbar-site a:hover{
    text-decoration: underline;
}

.navbar-logo{
    flex-grow: 1;
    justify-content: center;
}

.navbar-logo img{
    width: 100px;
}

.navbar-user{
    justify-content: flex-end;
    gap: 10px;    
}

/* Main */
.row{
    height: 600px;
    gap: 10px;
    padding-top: 40px;
}

.col{
    flex-basis: calc(100% / 3);
    background-color: #a1a1a1;
}

/* Footer */
.footer-site{
    background-color: #1a1a1a;
    border-bottom: 2px solid #fff;
    margin-top: 40px;
}

.footer-info{
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.footer-info > *{
    flex-basis: 50%;
    background-color: #ff6900;
}