/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --discountlabel: #f00;
    --ecolabel: #080;
}

/* Generics */
body{
    font-family: sans-serif;
    padding-top: 60px;
}

/* Utils */
.container{
    max-width: 1080px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.debug .border{
    border: 1px dashed #b414d4;
}

/* Header */
#fixed-header{
    background-color: #ff6900;
    box-shadow: 0 0 5px #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.navbar{
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.navbar > *{
    flex-basis: 20%;
}

.navbar-site{
    justify-content: space-between;
    font-weight: bold;
}

.navbar li{
    list-style-type: none;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

.navbar-site a:hover{
    text-decoration: underline;
}

.navbar-logo{
    flex-grow: 1;
    justify-content: center;
}

.navbar-logo img{
    width: 100px;
}

.navbar-user{
    justify-content: flex-end;
    gap: 10px;    
}

/* Main */
.row{
    height: 600px;
    gap: 10px;
    padding-top: 40px;
}

.col{
    flex-basis: calc(100% / 3);
    position: relative;
}

.col img{
    max-width: 100%;
}

.product-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.price{
    color: var(--discountlabel);
    font-weight: bold;
}

.price > del{
    font-weight: normal;
    color: #000;
}

.label{
    color: #fff;
    position: absolute;
    bottom: 80px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
}
.discount{
    background-color: var(--discountlabel);
}
.eco{
    background-color: var(--ecolabel);
    left: 50px;
}

.favourite{
    content: '\2665';
    background-color: #fff;
    font-size: 30px;
    padding: 7px 15px;
    position: absolute;
    top: 5px;
    right: 0;
    text-align: center;
    cursor: pointer;
}

.favourite:hover{
    color: #f00;
}

.hover-product{
    position: absolute;
    top: 0;
    right: 0;
    display:none
}
.col:hover .hover-product{
    display: inline-block;
}


/* Footer */
.footer-site{
    background-color: #1a1a1a;
    border-bottom: 2px solid #fff;
    margin-top: 40px;
}

.footer-info{
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.footer-info > *{
    flex-basis: 50%;
    background-color: #ff6900;
}