/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
}

/* Utils */
.container{
    max-width: 1080px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.debug .border{
    border: 1px dashed #000;
}

/* Header */
#fixed-header{
    background-color: #ff6900;
}

.navbar{
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.navbar > *{
    background-color: #fff;
    flex-basis: 20%;
}

.navbar-logo{
    flex-grow: 1;
}
